{% extends 'generate/main_base.html' %}
{% load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'generate/css/questions.css' %}">
{% endblock %}


{% block main %}
<main class="main">
    <div class="question-header">
        <div class="quastion-heart">
            <img src="{% static 'generate/img/heart.svg' %}">
            <p class="quastion-count">
                {{start_slide}}/{{ questions|length }}
            </p>
            <p class="quastion-count_desc">
                QUESTION
            </p>
        </div>
    </div>


    <form class="answers" method="post">
        {% csrf_token %}

        <div class="answers-tables">

            {% for i in questions %}
            <div class="answer-wrappper">
                <h2 class="quastion-title">
                    {{ i.question }}
                </h2>
                <div class="answers-table">
                    {% if i.have_answers %}
                        {% for j in i.answers_set.all %}
                            <div class="checkbox-info">
                                {% if j.answer in saved_answers %}
                                    <input type="checkbox" checked name="{{i.id}}" value="{{ j.answer }}" class="save-info-input">
                                {% else %}
                                    <input type="checkbox" name="{{i.id}}" value="{{ j.answer }}" class="save-info-input">
                                {% endif %}
                                <label class="checkbox-desc">{{ j.answer }}</label>
                            </div>
                        {% endfor %}

                        <div class="checkbox-info">
                            <p class="checkbox-desc">Your answer</p>
                        </div>
                        <div class="input_wrap" style="margin-left: 0;">
                            <input type="text" name="{{i.id}}" class="answer-input" style="width: 95%;" placeholder="Enter any other answer">
                        </div>
                    {% else %}
                        <ul>
                        {% for j in i.answers_set.all %}
                            <li class="checkbox-info">
                                <p class="checkbox-desc">{{ j.answer }}</p>
                            </li>
                        {% endfor %}
                        </ul>

                        <div class="checkbox-info">
                            <p class="checkbox-desc">Your answer</p>
                        </div>
                        <div class="input_wrap" style="margin-left: 0;">
                            <input type="text" name="{{i.id}}" class="answer-input" style="width: 95%;" placeholder="Enter any other answer">
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="questions-buttons">
            <div class="slick-buttons">
                <button type="button" class="previous-question">
                    Previous Question
                </button>
                <button type="button" class="next-question">
                    Next Question
                </button>
            </div>
            <div class="send-buttons">
                <button name="save" value="on" class="blue-btn">
                    SAVE
                </button>
                <button id="finish" name="finish" value="on" class="magenta-btn">
                    Finished
                </button>
            </div>
        </div>

    </form>
</main>

<div id="preloader" class="disable-load">
    <div id="loader"></div>
    <p>Generating ...</p>
</div>
{% endblock %}


{% block js_scripts %}
<script src="{% static 'generate/js/fontAwesome.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'generate/js/slick.min.js' %}"></script>
<!--<script src="{% static 'generate/js/slider.js' %}"></script>-->
<script src="{% static 'generate/js/generatingText.js' %}"></script>
<script src="{% static 'generate/js/ajaxGenerate.js' %}"></script>
<script>
    var $status = $('.quastion-count');
    var $slickElement = $('.answers-tables');

    $slickElement.slick({
        arrows: true,
        speed: 500,
        // fade: true,
        infinite: false,
        cssEase: 'linear',
        nextArrow: '.next-question',
        prevArrow: '.previous-question',
        draggable: false,
        adaptiveHeight: true,
        initialSlide: {{start_slide|add:"-1"}},
    });

    $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
        var i = (currentSlide ? currentSlide : 0) + 1;
        $status.text(i + '/' + slick.slideCount);
    });
</script>
{% endblock %}