{% extends 'generate/main_base.html' %}
{% load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'generate/css/account.css' %}">
<link rel="stylesheet" href="{% static 'generate/css/login.css' %}">
{% endblock %}



{% block main %}
<main class="main">
    <div class="account-detail">
        <p class="hello">Enter new password</p>
        <form class="account-form" method="post">
            {% csrf_token %}

            <table>
                <tr>
                    <td colspan="2" class="partner-info">
                        Please enter your new password twice so we can verify you typed it in correctly.
                    </td>
                </tr>
                {% for i in form %}
                    <tr>
                        <td>{{ i.label_tag }}</td>
                        <td>
                            <div class="input_wrap">
                                {{ i }}
                            </div>
                        </td>
                    </tr>
                    {% if i.errors %}
                    <tr>
                        <td colspan="2" class="form-error">
                            {{i.errors}}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <button class="blue-btn">
                CHANGE MY PASSWORD
            </button>
        </form>
    </div>
</main>
{% endblock %}