{% extends 'generate/main_base.html' %}
{% load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'generate/css/account.css' %}">
<link rel="stylesheet" href="{% static 'generate/css/login.css' %}">
{% endblock %}



{% block main %}
<main class="main">
    <div class="account-detail">
        <p class="hello">Password reset sent</p>
        <div class="account-form" method="post">
            <table>
                <tr>
                    <td class="partner-info">
                        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    </td>
                </tr>
                <tr>
                    <td class="partner-info">
                        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
{% endblock %}